@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

.zoom {
  cursor: zoom-in;
  transition: transform .2s;
  transform-origin: top left;
  overflow: hidden;
}

.zoom:hover {
  transform: scale(1.5);
}

p {
  text-align: justify;
}


blogbody {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
